.header {
    background-color: #4472c4;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .header h2{
    display: flex;
    text-shadow: 2px 2px 10px rgb(238, 14, 152);
    align-items: center;
    height: 50px;
  }
  .redirectTo {
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 150px;
    width: 100%;
    margin-left: 100px;
  }
  button {
    border: none;
    margin: 0% 4%;
    background-color: #4472c4;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    
  }